body {
  color: white;
  background-color: #151515;
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
}

body h4 {
  margin: 0 8px; 
}

#top-bar { 
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

#top-bar h4, #top-bar .pagename {
  margin: 0;
}

.topbar-link {
  text-decoration: none;
  color: inherit;
}

body.home #top-bar {
  background: linear-gradient(to right, #a8e063, #56ab2f);
}

body.java #top-bar {
  background: linear-gradient(to right, #d46ac2, #6a0dad);
}

body.cpp #top-bar {
  background: linear-gradient(to right, #56ccf2, #2f8ebd);
}

p {
  margin: 15px 10px;
}

p a {
  color: #4d94ff;
  text-decoration: none;
}

p a:visited {
  color: #4d94ff;
}

p a:hover {
  text-decoration: underline;
}

h2 {
  margin: 15px 10px;
}

pre {
  background-color: #2d2d2d;
  color: #00ff23;
  font-family: Consolas, monospace;
  padding: 10px;
  border-radius: 10px;
  white-space: pre-wrap;
  overflow-x: auto;
  margin: 0 10px;
  font-size: 1.25rem;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  line-height: 1.2;
}

body.home pre {
  color: #00ff23;
}

body.java pre {
  color: #cc3aff;
}

body.cpp pre {
  color: #23baff;
}
