body {
  color: white;
  background-color: #151515;
  font-family: sans-serif;
}

.code-block {
  background-color: #2d2d2d;
  color: #cc3aff;
  font-family: Consolas, monospace;
  padding: 0 10px;
  border-radius: 10px;
  white-space: pre-wrap;
  overflow-x: auto;
  margin: 0px 0;
  font-size: 1.25rem;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  line-height: 1.2;
}

pre {
  background-color: #2d2d2d;
  color: #cc3aff;
  font-family: Consolas, monospace;
  padding: 0 10px;
  border-radius: 10px;
  white-space: pre-wrap;
  overflow-x: auto;
  margin: -40px 0 -40px 0;
  font-size: 1.25rem;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  line-height: 1.2;
}
